<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="javascript:void(0)" class="brand-link" style="box-shadow:0 0 11px rgba(0,0,0,0.13)">
    <img src="../../../assets/images/user-profile/AdminLTELogo.png" alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Scorpion</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar scrollbar-width-thin">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{profileImage}}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{loggedUserObj.EMP_NAME}}</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"
        style="font-size: 0.7rem;">
        <li class="nav-item has-treeview" style="height:100% !important">
          <a routerLink="/dashboard" class="nav-link">
            <i class="nav-icon fas fa-list" style="color: skyblue;font-size: 0.7rem;"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" style="height:100% !important" *ngFor="let item of menuData">
          <a *ngIf="(item.PageUrl!='' && item.external=='false'); else hrefRoute" routerLink="{{item.PageUrl}}"
            class="nav-link">
            <i class="nav-icon fas fa-list" style="color: skyblue;font-size: 0.7rem;"></i>
            <p>
              {{item.PageName}}
              <i class="right fas fa-angle-right" *ngIf="item.Child_Menu.length != 0"></i>
            </p>
          </a>
          <ng-template #hrefRoute>
            <a href="{{item.PageUrl}}" class="nav-link">
              <i class="nav-icon fas fa-list" style="color: skyblue;font-size: 0.7rem;"></i>
              <p>
                {{item.PageName}}
                <i class="right fas fa-angle-right" *ngIf="item.Child_Menu.length != 0"></i>
              </p>
            </a>
          </ng-template>
          <ul class="nav nav-treeview" style="padding-left: 20px;" *ngIf="item.Child_Menu != []">
            <li class="nav-item" *ngFor="let itemChild of item.Child_Menu">
              <a *ngIf="(itemChild.PageUrl!='' && itemChild.external=='false') else hrefRoute"
                routerLink="{{itemChild.PageUrl}}" class="nav-link">
                <i class="nav-icon fas fa-list" style="color: skyblue;font-size: 0.7rem;"></i>
                <p>
                  {{itemChild.PageName}}
                  <i class="right fas fa-angle-right" *ngIf="itemChild.Child_Menu.length != 0"></i>
                </p>
              </a>
              <ng-template #hrefRoute>
                <a href="{{itemChild.PageUrl}}" class="nav-link">
                  <i class="nav-icon fas fa-list" style="color: skyblue;font-size: 0.7rem;"></i>
                  <p>
                    {{itemChild.PageName}}
                    <i class="right fas fa-angle-right" *ngIf="itemChild.Child_Menu.length != 0"></i>
                  </p>
                </a>
              </ng-template>

              <ul class="nav nav-treeview" style="padding-left: 20px;" *ngIf="itemChild.Child_Menu != []">
                <li class="nav-item" *ngFor="let itemChildChild of itemChild.Child_Menu">
                  <a *ngIf="(itemChildChild.PageUrl!='' && itemChildChild.external=='false') else hrefRoute"
                    routerLink="{{itemChildChild.PageUrl}}" class="nav-link">
                    <i class="nav-icon fas fa-list" style="color: skyblue;font-size: 0.7rem;"></i>
                    <p>
                      {{itemChildChild.PageName}}
                      <i class="right fas fa-angle-right" *ngIf="itemChildChild.Child_Menu.length != 0"></i>
                    </p>
                  </a>
                  <ng-template #hrefRoute>
                    <a href="{{itemChildChild.PageUrl}}" class="nav-link">
                      <i class="nav-icon fas fa-list" style="color: skyblue;font-size: 0.7rem;"></i>
                      <p>
                        {{itemChildChild.PageName}}
                        <i class="right fas fa-angle-right" *ngIf="itemChildChild.Child_Menu.length != 0"></i>
                      </p>
                    </a>
                  </ng-template>
                </li>
              </ul>
            </li>

          </ul>
        </li>

      </ul>







    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>