<div class="col-md-12">
  <div class="row">
    <div class="cover-profile">
      <div class="profile-bg-img">
        <img class="profile-bg-img img-fluid" src="../../../assets/images/user-profile/bg-img1.jpg" alt="bg-img">
        <div class="card-block user-info">
          <div class="col-md-12">
            <div class="media-left">
              <a class="profile-image">
                <img class="user-img img-radius" src="{{profileimg_val}}" style="height:108px;width:108px"
                  alt="user-img">
              </a>
            </div>
            <div class="media-body row">
              <div class="col-lg-12">
                <div class="user-title">
                  <h2>{{personalInfoData?.NAME_1ST}} {{personalInfoData?.NAME_SUR}}</h2>
                  <span class="text-white">{{personalInfoData?.Designation}}</span>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <!-- Profile Image -->
      <div class="card card-gray_ct card-outline">
        <div class="card-body box-profile dash-height_ct1">
          <a class="btn btn-ct1 btn-block"><b>Employee Profile</b></a> <br>
          <ul class="list-group list-group-unbordered mb-3 c_class1">
            <li class="list-group-item">
              <b>Name</b> <a class="float-right">{{personalInfoData?.NAME_1ST}} {{personalInfoData?.NAME_SUR}}</a>
            </li>
            <li class="list-group-item">
              <b>Designation</b> <a class="float-right">{{personalInfoData?.Designation}}</a>
            </li>
            <li class="list-group-item">
              <b>Emp Code</b> <a class="float-right">{{personalInfoData?.E_CODE}}</a>
            </li>
            <li class="list-group-item">
              <b>Department</b> <a class="float-right">{{personalInfoData?.FN_Desc}}</a>
            </li>
            <li class="list-group-item">
              <b>Mobile</b> <a class="float-right">{{personalInfoData?.CNTCT_NO1}}</a>
            </li>
            <li class="list-group-item">
              <b>Email Id</b> <a class="float-right">{{personalInfoData?.E_MAIL_ID}}</a>
            </li>
          </ul>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
    <!-- /.col -->
    <div class="col-md-4">
      <!-- Profile Image -->
      <div class="card card-gray_ct card-outline">
        <div class="card-body box-profile dash-height_ct1">
          <a class="btn btn-ct1 btn-block"><b>Leave & Attendance</b></a> <br>
          <p-chart type="pie" [data]="data" height="300" width="600" responsive="true"></p-chart>
          <br><br>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <div class="col-md-4">
      <!-- Profile Image -->
      <div class="card card-gray_ct card-outline">
        <div class="card-body box-profile dash-height_ct1">
          <a class="btn btn-ct1 btn-block"><b>Payroll Details</b></a> <br>
          <ul class="list-group list-group-unbordered mb-3 c_class2">
            <li class="list-group-item">
              <b>Bank</b> <a class="float-right">{{personalInfoData?.BankName}}</a>
            </li>
            <li class="list-group-item">
              <b>Bank A/C No.</b> <a class="float-right">{{personalInfoData?.BANKACC}}</a>
            </li>
            <li class="list-group-item">
              <b>IFSC Code</b> <a class="float-right">{{personalInfoData?.IFSC}}</a>
            </li>
            <li class="list-group-item">
              <b>PF No.</b> <a class="float-right">{{personalInfoData?.P_F_NO}}</a>
            </li>
            <li class="list-group-item">
              <b>UAN No.</b> <a class="float-right">{{personalInfoData?.UAN}}</a>
            </li>
            <li class="list-group-item">
              <b>PAN No.</b> <a class="float-right">{{personalInfoData?.PAN_NO}}</a>
            </li>
            <li class="list-group-item">
              <b>Address</b> <a class="float-right">{{personalInfoData?.C_ADDRESS}}</a>
            </li>
          </ul>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-4">
      <!-- Profile Image -->
      <div class="card card-gray_ct card-outline">
        <div class="card-body box-profile dash-height_ct2">
          <a class="btn btn-ct1 btn-block"><b>Attendance Record</b></a> <br>
          <!--<ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item" *ngFor="let attendance of personalAttendance">
              <b>{{attendance?.A_DateTime}}</b> <a class="float-right">{{attendance?.Remarks}}</a>
            </li>
          </ul>-->
          <div>
            <p-calendar [inline]="true" [showWeek]="true" [style]="{'width': '100%'}" [inputStyle]="{'width': '100%'}">
            </p-calendar>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-4">
      <div class="card card-gray_ct card-outline">
        <div class="card-body box-profile  dash-height_ct2">
          <div class="position-relative p-3 bg-gray">
            <div class="ribbon-wrapper ribbon-lg">
              <div class="ribbon bg-success text-lg">
                Birthday
              </div>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" *ngIf="(birthdaysInfoData.length > 0); else elseNoneBlock">
                <div class="carousel-item" *ngFor="let birthD of birthdaysInfoData; let i = index"
                  [ngClass]="{'active':i == 1}">
                  <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="{{birthD?.IMG}}" alt="User profile picture">
                  </div>
                  <span style="display:none;">{{i+1}}</span>
                  <br>
                  <h3 class="profile-username text-center">{{birthD?.Name_1st}} {{birthD?.Name_2ND}}
                    {{birthD?.NAME_SUR}}</h3>
                  <h3 class="profile-username text-center">(Happy Birthday)</h3>
                </div>
              </div>
              <ng-template #elseNoneBlock>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="text-center">
                      <img class="profile-user-img img-fluid img-circle"
                        src="../../../assets/images/user-profile/user-dummy.png" alt="User profile picture">
                    </div>
                    <br>
                    <h3 class="profile-username text-center">Happy Birthday</h3>
                    <h3 class="profile-username text-center">(Happy Birthday)</h3>
                  </div>
                </div>
              </ng-template>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-md-4">
      <!-- Profile Image -->
      <div class="card card-gray_ct card-outline">
        <div class="card-body box-profile dash-height_ct2">
          <a class="btn btn-ct1 btn-block"><b>HR Policies</b></a> <br>
          <ul class="list-group list-group-unbordered mb-3 c_class2">
            <li class="list-group-item">
              <a href="#"><i class="fa fa-paperclip"></i> Policy 1</a>
            </li>
            <li class="list-group-item">
              <a href="#"><i class="fa fa-paperclip"></i> Policy 2</a>
            </li>
            <li class="list-group-item">
              <a href="#"><i class="fa fa-paperclip"></i> Policy 3</a>
            </li>
          </ul>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>