<section class="content-header"></section>

<div class="">

<div class="col-md-12">
	
	<div class="card">
		<!-- /.box-header -->
		<div class="card-body">
		  <div class="row">

			<div class="col-md-6">
				<div class="card card-primary card-outline">
						<div class="card-header">
					 	 <h3 class="card-title">Earning Head</h3>
					  	</div>
					<div class="card-body">

			<table class="table table-striped eh_dh">
			<tbody><tr>
			  <th>#</th>
			  <th></th>
			  <th></th>
			  <th>%</th>
			  <th>Value</th>
			  <th>Adj amount</th>
			</tr>
			
	<!-- /.details starts -->		

<tr>
	<td>Basic
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Adj Basic
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>HRA
	<td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Conv
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Med Rem
	<td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Sp All
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>PLB
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Statutory Bonus
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Edu All
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>SPI
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Pet & Veh
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Others
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>LTA
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Car Hire
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>SPI
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Gross Earning
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 
 <!-- /.details starts -->		
			
		  </tbody></table>
		  </div>
		  </div>

</div>




<div class="col-md-6">

	<div class="card card-primary card-outline">
		<div class="card-header">
		  <h3 class="card-title">Deduction Head</h3>
		  </div>
	<div class="card-body">

	<table class="table table-striped eh_dh">
		<tbody><tr>
		  <th>#</th>
		  <th></th>
		  <th>Tag</th>
		  <th>%</th>
		  <th>Value</th>
		  <th>Adj amount</th>
		</tr>
		
<!-- /.details starts -->	



<tr>
	<td>Pension
	<td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td></td>
	<td></td>
 </tr>
 <tr>
	<td>EPF_Emp
	<td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td></td>
 </tr>
 <tr>
	<td>EPF_CC
	<td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td></td>
 </tr>
 <tr>
	<td>Admin Charge
	<td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td></td>
 </tr>
 <tr>
	<td>VPF
	<td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td></td>
 </tr>
 <tr>
	<td>E S I
	<td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td></td>
 </tr>
 <tr>
	<td>E S I Comp
	<td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td></td>
 </tr>
 <tr>
	<td>TDS
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
 </tr>
 <tr>
	<td>Adjusted Tax
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
 </tr>
 <tr>
	<td>Late Coming Ded.
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
 </tr>
 <tr>
	<td>Mobile Ded.
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
 </tr>
 <tr>
	<td>P Tax
	<td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
 </tr>
 <tr>
	<td>LWF
	<td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
 </tr>
 <tr>
	<td>Others
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
 </tr>
 <tr>
	<td>GIP MEDICAL
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
 </tr>
 <tr>
	<td>Gross Deduction
	<td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
 </tr>
 <tr>
	<td>Advance
	<td>
	<td>Opening</td>
	<td>Deduction(PM)</td>
	<td></td>
	<td>Closing</td>
 </tr>
 <tr>
	<td>Sal Adv
	<td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Adv
	<td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Fes Adv
	<td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Total
	<td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Net Earning
	<td>
	<td></td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Gratuity
	<td>
	<td></td>
	<td></td>
	<td></td>
	<td><input type="number" class="form-control" /></td>
 </tr>
 <tr>
	<td>Remarks
	<td>
	<td><input type="number" class="form-control" /></td>
	<td></td>
	<td></td>
	<td></td>
 </tr>
 
 

<!-- /.details starts -->		
		
	</tbody></table>
</div>
</div>
</div>

</div>



		</div>
		<!-- /.box-body -->

		<div class="card-footer clearfix">
			<button type="button" class="btn btn-info float-right" (click)="saveSalaryInformation();">Submit</button>
              
		  </div>


	  </div>

	
	</div>
	<!-- /.box -->

	

	


</div>


