<form [formGroup]="miscellaneousInformationForm">
<div class="row">
  <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('P_F_NO')"> 
    <div class="form-group">
      <label class="sub-title col-sm-6 control-label">PF No :</label>
      <div class="col-sm-6">
       <input type="text" class="form-control" formControlName="P_F_NO">
       <span *ngIf="isFieldValid('P_F_NO')" class="error-msg">* Required</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('PEN_NO')"> 
    <div class="form-group">
      <label class="sub-title col-sm-6 control-label">Family Pension No :</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="PEN_NO">
        <span *ngIf="isFieldValid('PEN_NO')" class="error-msg">* Required</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('ESI_NO')"> 
    <div class="form-group">
      <label class="sub-title col-sm-6 control-label">ESI No :</label> 
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="ESI_NO">
        <span *ngIf="isFieldValid('ESI_NO')" class="error-msg">* Required</span>
      </div>
    </div>
  </div>
 
 
 
  <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('E_FILE_NO')"> 
    <div class="form-group">
      <label class="sub-title col-sm-6 control-label">EMP REFERENCE NO :</label> 
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="E_FILE_NO">
        <span *ngIf="isFieldValid('E_FILE_NO')" class="error-msg">* Required</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('UAN')"> 
    <div class="form-group">
      <label class="sub-title col-sm-6 control-label">UAN :</label> 
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="UAN">        
        <!-- Validation Starts-->
        <div *ngIf="isFieldValid('UAN')">
          <span *ngIf="miscellaneousInformationForm.get('UAN').errors.pattern" class="error-msg">* Invalid UAN Number </span>          	
          <span *ngIf="miscellaneousInformationForm.get('UAN').errors.required" class="error-msg">* Required</span>   
        </div>                  
          <!-- Validation Ends-->
      </div>
    </div>
  </div>
  <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('PT_Location')"> 
    <div class="form-group">
      <label class="sub-title col-sm-6 control-label">PT LOCATION :</label> 
      <div class="col-sm-6">
        <select class="form-control ct1_select" formControlName="PT_Location">
          <option *ngFor="let citylists of citylist" value="{{citylists?.value}}">{{citylists?.label}}</option>
        </select>
        <span *ngIf="isFieldValid('PT_Location')" class="error-msg">* Required</span>
      </div>
    </div>
  </div>
</div>

<div class="row"> 
  <h3 class="btn btn-ct1 btn-block"><b>Salary Details</b></h3>
  <br>
  <!-- Input-->
  <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('IFSC')"> 
    <div class="form-group">
      <label class="sub-title col-sm-6 control-label">IFSC - Salary A/c :</label> 
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="IFSC">
        <span *ngIf="isFieldValid('IFSC')" class="error-msg">* Required</span>
      </div>
    </div>
  </div>
   <!-- Input-->
<!-- Input-->
<div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('BANK_CODE')"> 
  <div class="form-group">
    <label class="sub-title col-sm-6 control-label">Bank Name - Salary A/c :</label> 
    <div class="col-sm-6">
      <select class="form-control ct1_select" formControlName="BANK_CODE">
        <option *ngFor="let banklists of banklist" value="{{banklists?.value}}">{{banklists?.label}}</option>
      </select>
      <span *ngIf="isFieldValid('BANK_CODE')" class="error-msg">* Required</span>      
    </div>
  </div>
</div>
 <!-- Input-->
 <!-- Input-->
 <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('BANKACC')"> 
  <div class="form-group">
    <label class="sub-title col-sm-6 control-label">Salary A/C No. :</label>
    <div class="col-sm-6">
      <input type="text" class="form-control " formControlName="BANKACC">
      <span *ngIf="isFieldValid('BANKACC')" class="error-msg">* Required</span>
    </div>
  </div>
</div>
 <!-- Input-->
</div>

<div class="row"> 
  <h3 class="btn btn-ct1 btn-block"><b>Reimbursement Details</b></h3> 
  <br>
 
<!-- Input-->
<div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Reimb_Bank_Code')"> 
  <div class="form-group">
    <label class="sub-title col-sm-6 control-label">Bank Name - Reimbursement A/c</label> 
    <div class="col-sm-6">
      <select class="form-control ct1_select" formControlName="Reimb_Bank_Code">
        <option *ngFor="let banklists of banklist" value="{{banklists?.value}}">{{banklists?.label}}</option>
      </select>
      <span *ngIf="isFieldValid('Reimb_Bank_Code')" class="error-msg">* Required</span>      
    </div>
  </div>
</div>
 <!-- Input-->
 <!-- Input-->
 <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Reimb_BankAcc')"> 
  <div class="form-group">
    <label class="sub-title col-sm-6 control-label">Reimbursement A/C No. :</label>
    <div class="col-sm-6">
      <input type="text" class="form-control " formControlName="Reimb_BankAcc">
      <span *ngIf="isFieldValid('Reimb_BankAcc')" class="error-msg">* Required</span>
    </div>
  </div>
</div>
 <!-- Input-->
</div>



</form>

<div class="row"> 
  <div class="card-footer col-md-12">
    <button type="submit" class="btn btn-info float-right" (click)="saveMiscellaneousInformation()">Save</button>
  </div> 
</div>