<div class="wrapper">
  <p-toast></p-toast>
  <imi-user-header-section></imi-user-header-section>
  <!-- Main Sidebar Container -->
  <imi-user-sidebar-section></imi-user-sidebar-section>
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <imi-user-profile-section *ngIf="_router.url == '/dashboard'"></imi-user-profile-section>

      <imi-general-information-section *ngIf="_router.url == '/dashboard/general-info'"
        [editUserData]="editUserInfoData"
      ></imi-general-information-section>
      
      <imi-users-listing-section *ngIf="_router.url == '/dashboard/users-listing'"
        (onLoadUserEdit)="pushExistingUserEditInfo($event)"
      ></imi-users-listing-section>

      <imi-salary-listing-section *ngIf="_router.url == '/dashboard/salary-listing'"
      ></imi-salary-listing-section>

      <imi-searchable-listing *ngIf="_router.url == '/dashboard/salary'"
      ></imi-searchable-listing>
    </section>

  </div>
  <!-- /.content-wrapper -->
</div>