<p-toast></p-toast>
<fieldset
  [ngClass]="(fromlistingPage != false && (editUserData != undefined || editUserData == 'New')) ? 'others-profile' : ''">
  <div>
    <span *ngIf="(fromlistingPage != false && editUserData != 'New')">Edit Profile</span>
    <span *ngIf="(fromlistingPage != false && editUserData == 'New')">Create Profile</span>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="cover-profile">
        <div class="profile-bg-img">
          <img class="profile-bg-img img-fluid" src="../../../assets/images/user-profile/bg-img1.jpg" alt="bg-img">
          <div class="card-block user-info">
            <div class="col-md-12">
              <div class="media-left">
                <a class="profile-image">
                  <img class="user-img img-radius" src="{{profileimg_val}}" alt="user-img"
                    style="height:108px; width:108px;">
                </a>
              </div>
              <div class="media-body row">
                <div class="col-lg-12" *ngIf="editUserData != 1">
                  <div class="user-title">
                    <h2>{{username_val}} - {{ecode_val}}</h2>
                    <span class="text-white">Join Date: {{joiningdate_val}}</span>
                  </div>
                </div>
                <div>
                  <div class="pull-right cover-btn">
                    <input type="file" id="exampleInputFile" class="btn btn-primary m-r-10 m-b-5"
                      (change)="onImageSelect($event)">
                    <button type="button" class="btn btn-success" (click)="onImageSelectedSave()"><i
                        class="icofont icofont-ui-messaging"></i> Upload</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-gray card-tabs">
      <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="custom-tabs-one-gen-tab" data-toggle="pill" href="#custom-tabs-one-gen"
              role="tab" aria-controls="custom-tabs-one-gen" aria-selected="true">General Information</a>
          </li>
          <li class="nav-item" *ngIf="!createNewFlag">
            <!--*ngIf="!createNewFlag" -->
            <a class="nav-link" id="custom-tabs-one-fam-tab" data-toggle="pill" href="#custom-tabs-one-fam" role="tab"
              aria-controls="custom-tabs-one-fam" aria-selected="false">Family</a>
          </li>
          <li class="nav-item" *ngIf="!createNewFlag">
            <a class="nav-link" id="custom-tabs-one-con-tab" data-toggle="pill" href="#custom-tabs-one-con" role="tab"
              aria-controls="custom-tabs-one-con" aria-selected="false">Contact</a>
          </li>
          <li class="nav-item" *ngIf="!createNewFlag">
            <a class="nav-link" id="custom-tabs-one-qua-tab" data-toggle="pill" href="#custom-tabs-one-qua" role="tab"
              aria-controls="custom-tabs-one-qua" aria-selected="false">Qualification</a>
          </li>
          <li class="nav-item" *ngIf="!createNewFlag">
            <a class="nav-link" id="custom-tabs-one-wxp-tab" data-toggle="pill" href="#custom-tabs-one-wxp" role="tab"
              aria-controls="custom-tabs-one-wxp" aria-selected="false">Work Experience</a>
          </li>
          <li class="nav-item" *ngIf="!createNewFlag">
            <a class="nav-link" id="custom-tabs-one-tra-tab" data-toggle="pill" href="#custom-tabs-one-tra" role="tab"
              aria-controls="custom-tabs-one-tra" aria-selected="false">Training</a>
          </li>
          <li class="nav-item" *ngIf="!createNewFlag">
            <a class="nav-link" id="custom-tabs-one-idd-tab" data-toggle="pill" href="#custom-tabs-one-idd" role="tab"
              aria-controls="custom-tabs-one-idd" aria-selected="false">Id Details</a>
          </li>
          <li class="nav-item" *ngIf="!createNewFlag">
            <a class="nav-link" id="custom-tabs-one-misc-tab" data-toggle="pill" href="#custom-tabs-one-misc" role="tab"
              aria-controls="custom-tabs-one-misc" aria-selected="false">Miscellaneous</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="custom-tabs-one-tabContent">
          <div class="tab-pane fade active show" id="custom-tabs-one-gen" role="tabpanel"
            aria-labelledby="custom-tabs-one-gen-tab">
            <form [formGroup]="generalInformationForm">
              <div class="row">
                <!-- Input-->
                <fieldset *ngIf="createNewFlag" style="display: contents;">
                  <div class="col-md-4 pad10">
                    <div class="form-group">
                      <label class="sub-title col-sm-6 control-label">{{generalInfoData?.E_CODE.HD}}</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" formControlName="E_CODE">
                        <span *ngIf="isFieldValid('E_CODE')" class="error-msg">* Required</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pad10">
                    <div class="form-group">
                      <label class="sub-title col-sm-6 control-label"
                        for="AUTO_E_CODE">{{generalInfoData?.AUTO_E_CODE.HD}}</label>
                      <div class="col-sm-6">
                        <input type="checkbox" id="AUTO_E_CODE" formControlName="AUTO_E_CODE" style="zoom: 2.2;"
                          value="checked">
                        <!-- <input #inputEl type="checkbox" id="AUTO_E_CODE" formControlName="AUTO_E_CODE" (change)="generateEmpCode(inputEl.checked)" style="zoom: 2.2;" value="checked">-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pad10">
                  </div>
                </fieldset>
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('NAME_1ST')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.NAME_1ST.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" formControlName="NAME_1ST">
                      <span *ngIf="isFieldValid('NAME_1ST')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('NAME_2ND')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.NAME_2ND.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" formControlName="NAME_2ND">
                      <span *ngIf="isFieldValid('NAME_2ND')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('NAME_SUR')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.NAME_SUR.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" formControlName="NAME_SUR">
                      <span *ngIf="isFieldValid('NAME_SUR')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('BIRTH_DT')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.BIRTH_DT.HD}}</label>
                    <div class="col-sm-6">
                      <p-calendar formControlName="BIRTH_DT" [showIcon]="true" [readonlyInput]="true"
                        dateFormat="dd/mm/yy" dataType="string" (ngModelChange)="J_AGE_CALC()"></p-calendar>
                      <span *ngIf="isFieldValid('BIRTH_DT')" class="error-msg">* Required</span>
                      <!--<input type="text" class="form-control" formControlName="BIRTH_DT">-->
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('JOIN_DT')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.JOIN_DT.HD}}</label>
                    <div class="col-sm-6">
                      <p-calendar formControlName="JOIN_DT" [showIcon]="true" [readonlyInput]="true"
                        dateFormat="dd/mm/yy" dataType="string" (ngModelChange)="J_AGE_CALC()"></p-calendar>
                      <span *ngIf="isFieldValid('JOIN_DT')" class="error-msg">* Required</span>
                      <!--<input type="text" class="form-control " formControlName="JOIN_DT">-->
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Join_age_ro')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.Join_age_ro.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control " formControlName="Join_age_ro">

                    </div>
                  </div>
                </div>
                <!-- /Input-->


                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('RETIREMENT_DATE')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.RETIREMENT_DATE.HD}}</label>
                    <div class="col-sm-6">
                      <p-calendar formControlName="RETIREMENT_DATE" [showIcon]="true" [readonlyInput]="true"
                        dateFormat="dd/mm/yy" dataType="string" (ngModelChange)="J_AGE_CALC()"></p-calendar>
                      <span *ngIf="isFieldValid('RETIREMENT_DATE')" class="error-msg">* Required</span>
                      <!--<input type="text" class="form-control " formControlName="RETIREMENT_DATE">-->
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Retire_age_ro')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.Retire_age_ro.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control " formControlName="Retire_age_ro">

                    </div>
                  </div>
                </div>
                <!-- /Input-->


                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Curr_age_ro')">
                  <div class="form-group" style="display:none">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.Curr_age_ro.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control " formControlName="Curr_age_ro">

                    </div>
                  </div>
                </div>
                <!-- /Input-->


                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('SEX')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.SEX.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control " formControlName="SEX">
                        <option value="">Select</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                      </select>
                      <span *ngIf="isFieldValid('SEX')" class="error-msg">* Required</span>
                      <!--<input type="text" class="form-control " formControlName="SEX">-->
                    </div>
                  </div>
                </div>
                <!-- /Input-->


                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('HEIGHT')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.HEIGHT.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control " formControlName="HEIGHT">
                      <span *ngIf="isFieldValid('HEIGHT')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->


                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('WEIGHT')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.WEIGHT.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control " formControlName="HEIGHT">
                      <span *ngIf="isFieldValid('HEIGHT')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('JOIN_UNIT')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.JOIN_UNIT.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="JOIN_UNIT">
                        <option *ngFor="let joinUnit of joiningUnitList" value="{{joinUnit?.value}}">{{joinUnit?.label}}
                        </option>
                      </select>
                      <span *ngIf="isFieldValid('JOIN_UNIT')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Function_Code')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.Function_Code.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="Function_Code">
                        <option *ngFor="let function of functionList" value="{{function?.value}}">{{function?.label}}
                        </option>
                      </select>
                      <span *ngIf="isFieldValid('Function_Code')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Cat_Code')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.Cat_Code.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="Cat_Code">
                        <option *ngFor="let catgry of categoryList" value="{{catgry?.value}}">{{catgry?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('Cat_Code')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Sub_Function_Code')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.Sub_Function_Code.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="Sub_Function_Code">
                        <option *ngFor="let subFun of subFunctionList" value="{{subFun?.value}}">{{subFun?.label}}
                        </option>
                      </select>
                      <span *ngIf="isFieldValid('Sub_Function_Code')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('GRADE')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.GRADE.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="GRADE">
                        <option *ngFor="let grade of gradeList" value="{{grade?.value}}">{{grade?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('GRADE')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('DESIGN')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.DESIGN.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="DESIGN">
                        <option *ngFor="let designt of designationList" value="{{designt?.value}}">{{designt?.label}}
                        </option>
                      </select>
                      <span *ngIf="isFieldValid('DESIGN')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('RES_ST')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.RES_ST.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="RES_ST">
                        <option *ngFor="let resstatuss of resstatus" value="{{resstatuss?.value}}">{{resstatuss?.label}}
                        </option>
                      </select>
                      <span *ngIf="isFieldValid('RES_ST')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Cast_Cd')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.Cast_Cd.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="Cast_Cd">
                        <option *ngFor="let cast of castList" value="{{cast?.value}}">{{cast?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('Cast_Cd')" class="error-msg">* Required</span>
                      <!--<input type="text" class="form-control " formControlName="Cast_Cd">-->
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('MAR_ST')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.MAR_ST.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="MAR_ST">
                        <option *ngFor="let marriage of maritialStatusList" value="{{marriage?.value}}">
                          {{marriage?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('MAR_ST')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('RELI_CD')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.RELI_CD.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="RELI_CD">
                        <option *ngFor="let religin of religinList" value="{{religin?.value}}">{{religin?.label}}
                        </option>
                      </select>
                      <span *ngIf="isFieldValid('RELI_CD')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('CLIENT_CODE')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.CLIENT_CODE.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="CLIENT_CODE">
                        <option *ngFor="let entity of entityList" value="{{entity?.value}}">{{entity?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('CLIENT_CODE')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('BL_GR')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.BL_GR.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="BL_GR">
                        <option *ngFor="let bloodG of bloodGroupList" value="{{bloodG?.value}}">{{bloodG?.label}}
                        </option>
                      </select>
                      <span *ngIf="isFieldValid('BL_GR')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('HOD_CODE')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.HOD_CODE.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="HOD_CODE">
                        <option *ngFor="let reporting of reportingList" value="{{reporting?.value}}">
                          {{reporting?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('HOD_CODE')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('MM_E_Code')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.MM_E_Code.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="MM_E_Code">
                        <option *ngFor="let matrix of matrixList" value="{{matrix?.value}}">{{matrix?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('MM_E_Code')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>


                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('RM_E_Code')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.RM_E_Code.HD}}</label>
                    <div class="col-sm-6">

                      <select class="form-control ct1_select" formControlName="RM_E_Code">
                        <option *ngFor="let reporting of reportingList" value="{{reporting?.value}}">
                          {{reporting?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('RM_E_Code')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>


                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('E_TYPE')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.E_TYPE.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="E_TYPE" (change)="E_TYPE_F()">
                        <option *ngFor="let eType of empTypeList" value="{{eType?.value}}">{{eType?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('E_TYPE')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- Input-->


                <div class="col-md-4 pad10">
                </div>
                <div class="col-md-4 pad10">
                </div>

                <!-- /Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('TRA_FROM') && e_type_val=='03'">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.TRA_FROM.HD}}</label>
                    <div class="col-sm-6">

                      <p-calendar formControlName="TRA_FROM" [showIcon]="true" [readonlyInput]="true"
                        dateFormat="dd/mm/yy" dataType="string"></p-calendar>
                      <span *ngIf="isFieldValid('TRA_FROM')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('TRA_FROM') && e_type_val=='03'">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">Days</label>
                    <div class="col-sm-6">
                      <input #TRA_DAYS type="number" formControlName="TRA_DAYS" value="30" class="form-control "
                        (change)="TRA_DAYS_F(TRA_DAYS.value)">

                    </div>
                  </div>
                </div>
                <!-- /Input-->


                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('TRA_TO') && e_type_val=='03'">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.TRA_TO.HD}}</label>
                    <div class="col-sm-6">
                      <p-calendar formControlName="TRA_TO" [showIcon]="true" [readonlyInput]="true"
                        dateFormat="dd/mm/yy" dataType="string" (ngModelChange)="TRA_DAYS_F_B()"></p-calendar>
                      <span *ngIf="isFieldValid('TRA_TO')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->


                <!-- /Input-->
                <div class="col-md-4 pad10"
                  *ngIf="viewFields && viewFields.includes('SAN_FROM') && (e_type_val!='01' && e_type_val!='02' && e_type_val!='03' )">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.SAN_FROM.HD}}</label>
                    <div class="col-sm-6">
                      <p-calendar formControlName="SAN_FROM" [showIcon]="true" dateFormat="dd/mm/yy" dataType="string">
                      </p-calendar>
                      <span *ngIf="isFieldValid('SAN_FROM')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10"
                  *ngIf="viewFields && viewFields.includes('SAN_FROM') && (e_type_val!='01' && e_type_val!='02' && e_type_val!='03' )">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">Days</label>
                    <div class="col-sm-6">
                      <input #SAN_DAYS_G type="number" formControlName="SAN_DAYS" value="30" class="form-control "
                        (change)="SAN_DAYS_F(SAN_DAYS_G.value)">

                    </div>
                  </div>
                </div>
                <!-- /Input-->


                <div class="col-md-4 pad10"
                  *ngIf="viewFields && viewFields.includes('SAN_TO') && (e_type_val!='01' && e_type_val!='02' && e_type_val!='03' )">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.SAN_TO.HD}}</label>
                    <div class="col-sm-6">
                      <p-calendar formControlName="SAN_TO" [showIcon]="true" [readonlyInput]="true"
                        dateFormat="dd/mm/yy" dataType="string" (ngModelChange)="SAN_DAYS_F_B()"></p-calendar>
                      <span *ngIf="isFieldValid('SAN_TO')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->


                <!-- /Input-->
                <div class="col-md-4 pad10"
                  *ngIf="viewFields && viewFields.includes('PROB_FROM')  && (e_type_val=='03' ||e_type_val=='02' )">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.PROB_FROM.HD}}</label>
                    <div class="col-sm-6">

                      <p-calendar formControlName="PROB_FROM" [showIcon]="true" [readonlyInput]="true"
                        dateFormat="dd/mm/yy" dataType="string"></p-calendar>
                      <span *ngIf="isFieldValid('PROB_FROM')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10"
                  *ngIf="viewFields && viewFields.includes('PROB_FROM') && (e_type_val=='03' ||e_type_val=='02' )">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">Days</label>
                    <div class="col-sm-6">
                      <input #PROB_DAYS type="number" formControlName="PROB_DAYS" value="1" class="form-control "
                        (change)="PROB_DAYS_F(PROB_DAYS.value)">
                    </div>
                  </div>
                </div>
                <!-- /Input-->


                <div class="col-md-4 pad10"
                  *ngIf="viewFields && viewFields.includes('PROB_TO') && (e_type_val=='03' ||e_type_val=='02' )">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.PROB_TO.HD}}</label>
                    <div class="col-sm-6">
                      <p-calendar formControlName="PROB_TO" [showIcon]="true" [readonlyInput]="true"
                        dateFormat="dd/mm/yy" dataType="string" (ngModelChange)="PROB_DAYS_F_B()"></p-calendar>
                      <span *ngIf="isFieldValid('PROB_TO')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->


                <!-- Input-->
                <div class="col-md-4 pad10"
                  *ngIf="viewFields && viewFields.includes('CONFIRM_ON') && (e_type_val=='01' || e_type_val=='03' || e_type_val=='02') ">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.CONFIRM_ON.HD}}</label>
                    <div class="col-sm-6">
                      <p-calendar formControlName="CONFIRM_ON" [showIcon]="true" [readonlyInput]="true"
                        dateFormat="dd/mm/yy" dataType="string"></p-calendar>
                      <span *ngIf="isFieldValid('CONFIRM_ON')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Notice_Period_Type')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.Notice_Period_Type.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="Notice_Period_Type">
                        <option *ngFor="let noticeTyp of noticeTypeList" value="{{noticeTyp?.value}}">
                          {{noticeTyp?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('Notice_Period_Type')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Notice_Period')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.Notice_Period.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control " formControlName="Notice_Period">
                      <span *ngIf="isFieldValid('Notice_Period')" class="error-msg">* Required/Number</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Calculation_Basis')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.Calculation_Basis.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="Calculation_Basis">
                        <option *ngFor="let basis of basisofList" value="{{basis?.value}}">{{basis?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('Calculation_Basis')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('Joinning_Bonus')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.Joinning_Bonus.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control " formControlName="Joinning_Bonus">
                      <span *ngIf="isFieldValid('Joinning_Bonus')" class="error-msg">* Required/Number</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('E_MAIL_ID')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.E_MAIL_ID.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control " formControlName="E_MAIL_ID">
                      <span *ngIf="isFieldValid('E_MAIL_ID')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('METRO_NONMETRO')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.METRO_NONMETRO.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control " formControlName="METRO_NONMETRO">
                      <span *ngIf="isFieldValid('METRO_NONMETRO')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('ALT_E_MAIL_ID')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.ALT_E_MAIL_ID.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control " formControlName="ALT_E_MAIL_ID">
                      <span *ngIf="isFieldValid('ALT_E_MAIL_ID')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('PersonalIDMark')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.PersonalIDMark.HD}}</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control " formControlName="PersonalIDMark">
                      <span *ngIf="isFieldValid('PersonalIDMark')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>
                <!-- /Input-->

                <!-- Input-->
                <div class="col-md-4 pad10" *ngIf="viewFields && viewFields.includes('ROLE_CODE')">
                  <div class="form-group">
                    <label class="sub-title col-sm-6 control-label">{{generalInfoData.ROLE_CODE.HD}}</label>
                    <div class="col-sm-6">
                      <select class="form-control ct1_select" formControlName="ROLE_CODE">
                        <option *ngFor="let role of roleList" value="{{role?.value}}">{{role?.label}}</option>
                      </select>
                      <span *ngIf="isFieldValid('ROLE_CODE')" class="error-msg">* Required</span>
                    </div>
                  </div>
                </div>





                <div class="col-md-12  pad10">

                  <div class="card-footer">
                    <button type="button" class="btn btn-info float-right"
                      (click)="saveGeneralInformation();">Submit</button>

                  </div>

                </div>





              </div>

            </form>
          </div>

          <!-- Family Form Section -->
          <div class="tab-pane fade show" id="custom-tabs-one-fam" role="tabpanel"
            aria-labelledby="custom-tabs-one-fam-tab">
            <imi-family-information-section></imi-family-information-section>
          </div>

          <!-- Contact Form Section -->
          <div class="tab-pane fade" id="custom-tabs-one-con" role="tabpanel" aria-labelledby="custom-tabs-one-con-tab">
            <imi-contact-information-section></imi-contact-information-section>
          </div>

          <!-- Qualification Form Section -->
          <div class="tab-pane fade" id="custom-tabs-one-qua" role="tabpanel" aria-labelledby="custom-tabs-one-qua-tab">
            <imi-qualification-information-section></imi-qualification-information-section>
          </div>

          <!-- Work Experiense Form Section -->
          <div class="tab-pane fade" id="custom-tabs-one-wxp" role="tabpanel" aria-labelledby="custom-tabs-one-wxp-tab">
            <imi-work-experience-information-section></imi-work-experience-information-section>
          </div>

          <!-- Training Form Section -->
          <div class="tab-pane fade" id="custom-tabs-one-tra" role="tabpanel" aria-labelledby="custom-tabs-one-tra-tab">
            <imi-training-information-section></imi-training-information-section>
          </div>

          <!-- ID Details Form Section -->
          <div class="tab-pane fade" id="custom-tabs-one-idd" role="tabpanel" aria-labelledby="custom-tabs-one-idd-tab">
            <imi-id-details-information-section></imi-id-details-information-section>
          </div>

          <!-- Miscellaneous Form Section -->
          <div class="tab-pane fade" id="custom-tabs-one-misc" role="tabpanel"
            aria-labelledby="custom-tabs-one-misc-tab">
            <imi-miscellaneous-information-section></imi-miscellaneous-information-section>
          </div>

        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</fieldset>