<section class="hold-transition login-page" style="background-image: url('assets/images/auth/bg.jpg');">


<div class="login-box">
    <div class="login-logo">
      <img src="assets/images/auth/logo-scorp.png" style="width:95%"/>
     
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
  
        <form >
          <div class="input-group mb-3">
              <input type="text" name="email" class="form-control" placeholder="Login ID" (change)="onChangeVal();" [(ngModel)]="loginInfo.email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
              <input type="password" name="password" class="form-control" placeholder="Password" (change)="onChangeVal();" [(ngModel)]="loginInfo.password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
             
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block" (click)="signInAction()">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
      
        <!-- /.social-auth-links -->
  
        <p class="mb-1">
          <a ><span (click)="forgotPassword();">Forgot Password?</span></a>
        </p>
        <div class="row">
            <div class="col-md-12">
              <span class="f-w-600 alert-danger" *ngIf="loginFail">{{loginFailTxt}}</span>
            </div>
          </div>
      </div>
      
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->

</section>