<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light" style="box-shadow:0 0 11px rgba(0,0,0,0.13)">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <!--   <a class="sidebar-toggle" data-toggle="push-menu" role="button" href="#" > -->
      <a class="nav-link" data-widget="pushmenu" href="#">
        <i class="fas fa-bars"></i></a>
    </li>
  </ul>
<div class="ml-3 col-md-3">
  <p-dropdown class="top_dd_ct1"  [options]="searchbarList" [(ngModel)]="selectedCar" [filter]="true" filterBy="PageName,PageUrl" [style]="{'width':'100%','border-radius':'0px','border':'1px solid #f2f4f6'}">
      <ng-template let-item pTemplate="selectedItem" class="form-control form-control-navbar" style="background-color:#f2f4f6"> 
        <span style="vertical-align:middle; text-align:left">{{item.PageName}}</span>
      </ng-template> 
      <ng-template let-bar pTemplate="item"> 
        <a href="{{bar.PageUrl}}">
        <div class="ui-helper-clearfix" style="position: relative;height:25px;">
          {{bar.PageName}}
        </div>
      </a>
      </ng-template>
   </p-dropdown>
  </div>
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link btn btn-danger" data-widget="control-sidebar" data-slide="true" href="#" (click)="logout();">
        <i class="fas fa-sign-out-alt"></i> Log Out
      </a>
    </li>
  </ul>
</nav>
<!-- /.navbar -->