<p-toast></p-toast>
<form [formGroup]="FamilyInformationForm">
  <div class="row"> 
    <h3 class="btn btn-ct1 btn-block"><b>Father Information</b></h3>
    <br>
    <!-- Input-->
    <div class="col-md-4 pad10"> 
      <div class="form-group">
        <label class="sub-title col-sm-6 control-label">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control " formControlName="FA_NAME">
          <span *ngIf="isFieldValid('FA_NAME')" class="error-msg">* Required</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 pad10"> 
      <div class="form-group">
        <label class="sub-title col-sm-6 control-label">DOB</label>
        <div class="col-sm-6">
          <p-calendar
            formControlName="FA_DOB" 
            [showIcon]="true" 
            [readonlyInput]="true"
            dateFormat="dd/mm/yy"
            dataType="string"
          ></p-calendar>
        </div>
      </div>
    </div>
    <div class="col-md-4 pad10"> 
      <div class="form-group">
        <label class="sub-title col-sm-6 control-label">Occupation</label>
        <div class="col-sm-6">
          <input type="text" class="form-control " formControlName="F_OC_CD">
        </div>
      </div>
    </div>
  </div>

  <div class="row"> 
    <h3 class="btn btn-ct1 btn-block"><b>Mother Information</b></h3>
    <br>
    <div class="col-md-4 pad10"> 
      <div class="form-group">
        <label class="sub-title col-sm-6 control-label">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control " formControlName="MO_NAME">
        </div>
      </div>
    </div>
    <div class="col-md-4 pad10"> 
      <div class="form-group">
        <label class="sub-title col-sm-6 control-label">DOB</label>
        <div class="col-sm-6">
          <p-calendar
            formControlName="MO_DOB" 
            [showIcon]="true" 
            [readonlyInput]="true" 
            dateFormat="dd/mm/yy"
            dataType="string"
          ></p-calendar>
        </div>
      </div>
    </div>
    <div class="col-md-4 pad10"> 
      <div class="form-group">
        <label class="sub-title col-sm-6 control-label">Occupation</label>
        <div class="col-sm-6">
          <input type="text" class="form-control " formControlName="MO_OC_CD">
        </div>
      </div>
    </div>
  </div>

  <div class="row"> 
    <h3 class="btn btn-ct1 btn-block"><b>Spouse Information</b></h3>
    <br>
    <!-- Input-->
    <div class="col-md-4 pad10"> 
      <div class="form-group">
        <label class="sub-title col-sm-6 control-label">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control " formControlName="SPOUSE">
        </div>
      </div>
    </div>
    <div class="col-md-4 pad10"> 
      <div class="form-group">
        <label class="sub-title col-sm-6 control-label">DOB</label>
        <div class="col-sm-6">
            <p-calendar formControlName="SP_DOB" [showIcon]="true" [readonlyInput]="true" dateFormat="dd/mm/yy"></p-calendar>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label class="sub-title col-sm-6 control-label">DOM</label>
        <div class="col-sm-6">
          <p-calendar 
            formControlName="SP_DOM" 
            [showIcon]="true" 
            [readonlyInput]="true"
            dateFormat="dd/mm/yy"
            dataType="string"
          ></p-calendar>
        </div>
      </div>
    </div>
    <div class="col-md-4 pad10"> 
      <div class="form-group">
        <label class="sub-title col-sm-6 control-label">Occupation</label>
        <div class="col-sm-6">
          <input type="text" class="form-control " formControlName="SP_OC_CD">
        </div>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="card-footer col-md-12">
      <button type="submit" class="btn btn-info float-right" (click)="saveFamilyParentsInformation()">Save</button>
    </div> 
  </div>
</form>
<br>
  
  
<form [formGroup]="childInformationForm">
  <div class="row"> 
  <h3 class="btn btn-ct1 btn-block"><b>Child Information Details</b></h3>
  <br>
  
  <!-- Input-->
  <div class="col-md-3 pad10"> 
  <div class="form-group">
    <label class="sub-title col-sm-6 control-label">Name</label>  <div class="col-sm-6">
     <input type="text" class="form-control " formControlName="CH_NAME"> </div>	
     <span *ngIf="isFieldValid_Child('CH_NAME')" class="error-msg">* Required</span>			
   </div>
  </div>
  <!-- /Input-->
  
  <!-- Input-->
  <div class="col-md-3 pad10"> 
    <div class="form-group">
      <label class="sub-title col-sm-6 control-label">Gender</label>
      <div class="col-sm-6">
        <!--<input type="text" class="form-control " formControlName="CH_SEX">-->
        <select class="form-control " formControlName="CH_SEX">
          <option value="">Select</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
        <span *ngIf="isFieldValid_Child('CH_SEX')" class="error-msg">* Required</span>		
      </div>
   </div>
  
  </div>
  <!-- /Input-->
  
  
  
  <!-- Input-->
  <div class="col-md-3 pad10"> 
    <div class="form-group">
      <label class="sub-title col-sm-6 control-label">DOB</label>
      <div class="col-sm-6">
          <p-calendar 
            formControlName="D_O_B"
            [showIcon]="true" 
            [readonlyInput]="true"
            dateFormat="dd/mm/yy"
            dataType="string"
          ></p-calendar>
          <span *ngIf="isFieldValid_Child('D_O_B')" class="error-msg">* Required</span>
      </div>
    </div>
  </div>
  <!-- /Input-->
  
  
  <!-- Input-->
  <div class="col-md-3 pad10"> 
  <div class="form-group">
  <button type="submit" class="btn btn-info float-right" (click)="saveFamilyChildInformation()">Save</button>	
   </div>
  </div>
  <!-- /Input-->
  
  </div>
</form>
  <hr>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 10px">#</th>
        <th>Name</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Task</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let childrens of childrenDetails">
        <td>{{childrens?.CH_ID}}</td>
        <td>{{childrens?.CH_NAME}}</td>
        <td>{{childrens?.CH_SEX}}</td>
        <td>{{childrens?.D_O_B}}</td>
        <td><a (click)="delChildren(childrens?.CH_ID)">Delete</a></td>
      </tr>
    </tbody>
  </table>