<div class="row">
  <div class="col-md-12"> 
  <p style="text-align:right">
    <button data-toggle="collapse" data-target="#TI_collapse" class="btn btn-warning" aria-expanded="true" (click)="addnewTrainingDetail()">Add New +</button>
    </p>
  </div>
</div>
<hr>

<div id="TI_collapse" class="collapse" >
  <form [formGroup]="trainingInformationForm">
    <div class="row">
      <div class="col-md-4 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-6 control-label">Date From :</label>
          <div class="col-sm-6">
            <p-calendar 
              formControlName="DATE_FROM"
              [showIcon]="true" 
              [readonlyInput]="true"
              dateFormat="dd/mm/yy"
              dataType="string">
            </p-calendar>
          </div>
        </div>
      </div>
      <div class="col-md-4 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-6 control-label">Date	To :</label>
          <div class="col-sm-6">
            <p-calendar 
              formControlName="DATE_TO"
              [showIcon]="true" 
              [readonlyInput]="true"
              dateFormat="dd/mm/yy"
              dataType="string">
            </p-calendar>
          </div>
        </div>
      </div>
      <div class="col-md-4 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-6 control-label">	Institute Name :</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="INSTITUTE">
          </div>
        </div>
      </div>
      <div class="col-md-4 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-6 control-label">Training On :</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="TRAINING_NAME">
          </div>
        </div>
      </div>
      <div class="col-md-8 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-3 control-label">Training Details :</label>
          <div class="col-sm-7">
            <textarea class="form-control" formControlName="TRAINING_DETAILS" height="10"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row"> 
    <div class="card-footer col-md-12">
      <button type="submit" class="btn btn-info float-right" (click)="saveTrainingInformation()">Save</button>
    </div> 
  </div>

</div>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 10px">#</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Institute Name</th>
        <th>Training On</th>
        <th>Training Details</th>
        <th>Task</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let trng of trainingInfoList">
          <td>{{trng?.SRL}}</td>
          <td>{{trng?.DATE_FROM}}</td>
          <td>{{trng?.DATE_TO}}</td>
          <td>{{trng?.INSTITUTE}}</td>
          <td>{{trng?.TRAINING_NAME}}</td>
          <td>{{trng?.TRAINING_DETAILS}}</td>
          <td><a (click)="eidtTraining(trng?.SRL)">Edit</a></td>
        </tr>
    </tbody>
  </table> 
</div>