<div class="row">
<div class="col-md-12">
	<p style="text-align:right">
		<button data-toggle="collapse" data-target="#Qualif_Div" class="btn btn-warning" aria-expanded="true" (click)="addnewQualification();">Add New +</button>
	</p>
</div>
<div id="Qualif_Div" class="collapse" >
	<form [formGroup]="qualificationInfo">
		<div class="row">
			<h3 class="btn btn-ct1 btn-block"><b>(Upload your educational testimonials in the document uploader page)</b></h3>
			<br> 
			<!-- Input-->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">From :</label> 
				<div class="col-sm-6">
					<!--<input type="text" class="form-control" formControlName="QUA_YR_FR">-->
					<p-calendar
					formControlName="QUA_YR_FR" 
					[showIcon]="true" 
					[readonlyInput]="true" 
					dateFormat="dd/mm/yy"
					dataType="string"
					></p-calendar>
				</div>
			</div>
			</div>
			<!-- /Input-->
			<!-- Input-->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">	To :</label>  
				<div class="col-sm-6">
					<!--<input type="text" class="form-control" formControlName="QUA_YR_TO">-->
					<p-calendar
					formControlName="QUA_YR_TO" 
					[showIcon]="true" 
					[readonlyInput]="true" 
					dateFormat="dd/mm/yy"
					dataType="string"
					></p-calendar>
				</div>
			</div>
			</div>
			<!-- /Input-->
			<!-- Input-->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">		Course :</label>  
				<div class="col-sm-6">
					<input type="text" class="form-control" formControlName="COURSE"> 
				</div>
			</div>
			</div>
			<!-- /Input-->
			<!-- Input-->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">Subject :</label>  
				<div class="col-sm-6">
					<input type="text" class="form-control" formControlName="SUBJECT"> 
				</div>
			</div>
			</div>
			<!-- /Input-->
			<!-- Input-->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">	Institute Name :</label>  
				<div class="col-sm-6">
					<input type="text" class="form-control" formControlName="INST_NAME"> 
				</div>
			</div>
			</div>
			<!-- /Input-->
			<!-- Input-->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">			Institute Address :</label>  
				<div class="col-sm-6">
					<input type="text" class="form-control" formControlName="INST_ADD1"> 
				</div>
			</div>
			</div>
			<!-- /Input-->
			<!-- Input-->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">University / Board :</label>  
				<div class="col-sm-6">
					<input type="text" class="form-control" formControlName="UNIVERSITY"> 
				</div>
			</div>
			</div>
			<!-- /Input-->
			<!-- Input-->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">Marks(%/Grade) :</label>  
				<div class="col-sm-6">
					<input type="number" class="form-control" formControlName="MARKS"> 
				</div>
			</div>
			</div>
			<!-- /Input-->
			<!-- Input-->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">Rank :</label>  
				<div class="col-sm-6">
					<input type="text" class="form-control" formControlName="RANK"> 
				</div>
			</div>
			</div>
			<!-- /Input-->
			<!-- Input-->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">Type :</label>  
				<div class="col-sm-6">
					<select class="form-control" formControlName="Q_TYPE">
						<option value="A">Academic</option>
						<option value="P">Professional</option>
					</select>
				</div>
			</div>
			</div>
			<!-- /Input-->
			<!-- Input-->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">		Highest qualification :</label>  
				<div class="col-sm-6">
					<!--<input type="text" class="form-control" formControlName="MAX_QUALI">-->
					<input type="checkbox" formControlName="MAX_QUALI" value="1"  style="zoom: 2.2;"> 
				</div>
			</div>
			</div>
			<!-- /Input-->
			<!-- Input-->
			<div class="col-md-4 pad10"> 
			&nbsp;			 
			</div>
			<!-- /Input-->
			<!-- Input
			<div class="col-md-4 pad10"  style="display:none" >
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">Select Document:</label>  
				<div class="col-sm-6">
					<input type="file" class="form-control" (change)="onFileChanges($event)" formControlName="DOC"> 
				</div>
			</div>
			</div>-->
			<!-- /Input-->
			<!-- Input
			<div class="col-md-4 pad10" style="display:none">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">			Document Category:</label>  
				<div class="col-sm-6">
					<input type="text" class="form-control" formControlName="DOC_CAT"> 
				</div>
			</div>
			</div>-->
			<!-- /Input-->
		</div>
		<div class="row">
			<div class="card-footer col-md-12">
			<button type="submit" class="btn btn-info float-right" (click)="saveQualificationInformation()">Save</button>
			</div>
		</div>
	</form>
</div>
<hr>
<table class="table table-bordered">
	<thead>
		<tr>
			<th style="width: 10px">#</th>
			<th>Type</th>
			<th>Date From</th>
			<th>Date To</th>
			<th>Course</th>
			<th>Subject</th>
			<th>Institute Name</th>
			<th>Address</th>
			<th>University</th>
			<th>Marks</th>
			<th>Rank</th>
			<th>Qualification</th>
			<th>Task</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let qualif of qualificationInfoList">
			<td>{{qualif?.SRL}}</td>
			<td>{{qualif?.Q_TYPE}}</td>
			<td>{{qualif?.QUA_YR_FR}}</td>
			<td>{{qualif?.QUA_YR_TO}}</td>
			<td>{{qualif?.COURSE}}</td>
			<td>{{qualif?.SUBJECT}}</td>
			<td>{{qualif?.INST_NAME}}</td>
			<td>{{qualif?.INST_ADD1}}</td>
			<td>{{qualif?.UNIVERSITY}}</td>
			<td>{{qualif?.MARKS}}</td>
			<td>{{qualif?.RANK}}</td>
			<td>{{qualif?.MAX_QUALI}}</td>
			<td><a (click)="eidtQualification(qualif?.SRL)">Edit</a></td>
		</tr>
	</tbody>
</table>
</div>