<div class="col-md-12"> 
<p style="text-align:right">
  <button data-toggle="collapse" data-target="#WE_collapse" class="btn btn-warning" aria-expanded="true" (click)="addnewWorkExpDetails()">Add New +</button>
  </p>
</div>

<div id="WE_collapse" class="collapse" >
  <form [formGroup]="workExperInfoForm">
    <div class="row">
      <div class="col-md-4 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-6 control-label">From :</label>
          <div class="col-sm-6">
            <!--<input type="text" class="form-control" formControlName="EXP_YR_FR">-->
            <p-calendar 
            formControlName="EXP_YR_FR"
            [showIcon]="true" 
            [readonlyInput]="true"
            dateFormat="dd/mm/yy"
            dataType="string"></p-calendar>
          </div>
        </div>
      </div>
      <div class="col-md-4 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-6 control-label">To :</label>
          <div class="col-sm-6">
            <!--<input type="text" class="form-control" formControlName="EXP_YR_TO">-->
            <p-calendar 
            formControlName="EXP_YR_TO"
            [showIcon]="true" 
            [readonlyInput]="true"
            dateFormat="dd/mm/yy"
            dataType="string"></p-calendar>
          </div>
        </div>
      </div>
      <div class="col-md-4 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-6 control-label">		Employer :</label>  <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="EMPLOYER"> </div>				
        </div>
      </div>
      <div class="col-md-4 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-6 control-label">Address :</label>  <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="EMP_ADD1"> </div>				
        </div>
      </div>
      <div class="col-md-4 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-6 control-label">	Joining Designation :</label>  <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="Joining_Designation_Code">  
           
               </div>				
        </div>
      </div>
      <div class="col-md-4 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-6 control-label">				Leaving Designation :</label>  <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="Leaving_Designation_Code">
               </div>				
        </div>
      </div>
      <div class="col-md-4 pad10"> 
        <div class="form-group">
          <label class="sub-title col-sm-6 control-label">Leaving Salary :</label>  <div class="col-sm-6">
          <input type="number" class="form-control" formControlName="Leaving_Salary"> </div>				
        </div>
      </div>
    </div>
  </form>

  <div class="row"> 
    <div class="card-footer col-md-12">
      <button type="submit" class="btn btn-info float-right" (click)="saveWorkExperienceInformation()">Save</button>
    </div> 
  </div>
</div>
<hr>
<table class="table table-bordered">
  <thead>                  
    <tr>
      <th style="width: 10px">#</th>
      <th>Date From</th>
      <th>Date To</th>
      <th>Employer</th>
      <th>Address</th>
      <th>Joining Designation</th>
      <th>Leaving Designation</th>
      <th>Leaving Salary</th>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workExp of workExpInfoList">
      <td>{{workExp?.SRL}}</td>
      <td>{{workExp?.EXP_YR_FR}}</td>
      <td>{{workExp?.EXP_YR_TO}}</td>
      <td>{{workExp?.EMPLOYER}}</td>
      <td>{{workExp?.EMP_ADD1}}</td>
      <td>{{workExp?.Joining_Designation}}</td>
      <td>{{workExp?.Leaving_Designation}}</td>
      <td>{{workExp?.Leaving_Salary}}</td>
      <td><a (click)="eidtWorkExperience(workExp?.SRL)">Edit</a></td>
    </tr>
  </tbody>
</table>