<div class="row">
  <div class="col-md-12"> 
    <p style="text-align:right">
      <button data-toggle="collapse" data-target="#ID_collapse" class="btn btn-warning" aria-expanded="true" (click)="addnewIdDetails();">Add New +</button>
    </p>
  </div>
        
  <div id="ID_collapse" class="collapse">
    <form [formGroup]="idDetailsInformationForm">
      <div class="row">
        <div class="col-md-4 pad10"> 
          <div class="form-group">
            <label class="sub-title col-sm-6 control-label">Type :</label>  <div class="col-sm-6">

            <select class="form-control ct1_select" formControlName="ID_Type" (change)="ID_CHANGE()">
                <option *ngFor="let idList of idLists" value="{{idList?.value}}">{{idList?.label}}</option>
              </select>
              <span *ngIf="isFieldValid('ID_Type')" class="error-msg">* Required</span>	
          </div>				
          </div>
        </div>
        <div class="col-md-4 pad10"> 
          <div class="form-group">
            <label class="sub-title col-sm-6 control-label">Number :</label>  <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="ID_Number"> 
            <!-- Validation Starts-->
            <div *ngIf="isFieldValid('ID_Number')">
            <span *ngIf="idDetailsInformationForm.get('ID_Type').value=='01' && idDetailsInformationForm.get('ID_Number').errors.pattern" class="error-msg">* Invalid Pan Card Number </span>
            <span *ngIf="idDetailsInformationForm.get('ID_Type').value=='06' && idDetailsInformationForm.get('ID_Number').errors.pattern" class="error-msg">* Invalid Adhaar Number </span>            	
            <span *ngIf="idDetailsInformationForm.get('ID_Number').errors.required" class="error-msg">* Required</span>   
          </div>                  
            <!-- Validation Ends-->
          </div>				
          </div>
        </div>
        <div class="col-md-4 pad10"> 
          <div class="form-group">
            <label class="sub-title col-sm-6 control-label">Date Issued	:</label>
            <div class="col-sm-6">
              <p-calendar 
                formControlName="Date_Issued"
                [showIcon]="true" 
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                dataType="string">
              </p-calendar> 
            </div>
          </div>
        </div>
        <div class="col-md-4 pad10"> 
          <div class="form-group">
            <label class="sub-title col-sm-6 control-label">Issuing Authority :</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="Issuing_Authority">
            </div>
          </div>
        </div>
        <div class="col-md-4 pad10"> 
          <div class="form-group">
            <label class="sub-title col-sm-6 control-label">	Place of Issue :</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="Place_Issued">
            </div>
          </div>
        </div>
        <div class="col-md-4 pad10"> 
          <div class="form-group">
            <label class="sub-title col-sm-6 control-label">	Country Issued :</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" formControlName="Country_Issued">
            </div>
          </div>
        </div>
        <div class="col-md-4 pad10"> 
          <div class="form-group">
            <label class="sub-title col-sm-6 control-label">		Valid Upto :</label>
            <div class="col-sm-6">
                <p-calendar 
                formControlName="Valid_Upto"
                [showIcon]="true" 
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                dataType="string">
              </p-calendar>
            </div>
          </div>
        </div>

        <!-- Input -->
			<div class="col-md-4 pad10">
			<div class="form-group">
				<label class="sub-title col-sm-6 control-label">Select Document:</label>  
				<div class="col-sm-6">
					<input type="file" class="form-control" (change)="onFileChanges($event)" formControlName="DOC"> 
				</div>
			</div>
			</div>
			<!-- /Input-->



      </div>
    </form>
    <div class="row"> 
      <div class="card-footer col-md-12">
        <button type="submit" class="btn btn-info float-right" (click)="saveIDdetailsInformation()">Save</button>
      </div> 
    </div>
  </div>
</div>
<hr>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 10px">#</th>
        <th>TYPE </th>
        <th>NUMBER </th>
        <th>DATE ISSUED</th>
        <th>ISSUING AUTHORITY </th>
        <th>PLACE OF ISSUE</th>
        <th>COUNTRY ISSUED</th>
        <th>VALID UPTO</th>
        <th>Task</th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let idd of idDetailsInfoList">
      <td>{{idd.RecID}}</td>
      <td>{{idd.ID_Type}}</td>
      <td>{{idd.ID_Number}}</td>
      <td>{{idd.Date_Issued}}</td>
      <td>{{idd.Issuing_Authority}}</td>
      <td>{{idd.Place_Issued}}</td>
      <td>{{idd.Country_Issued}}</td>
      <td>{{idd.Valid_Upto}}</td>
      <td><a (click)="eidtQualification(idd?.RecID)">Edit</a></td>
    </tr>
  </tbody>
  </table> 
</div>