<p-toast></p-toast>
<form [formGroup]="contactInfoForm">
<div class="row"> 
  <h3 class="btn btn-ct1 btn-block"><b>Present Address</b></h3>
  <br>
  <!-- Input-->
  <div class="col-md-4 pad10"> 
  <div class="form-group">
  <label class="sub-title col-sm-6 control-label">Line 1</label>  <div class="col-sm-6">
  <input type="text" class="form-control" formControlName="ADD_1"> </div>				
  </div>
  </div>
  <!-- /Input-->

  <!-- Input-->
  <div class="col-md-4 pad10"> 
  <div class="form-group">
  <label class="sub-title col-sm-6 control-label">Line 2</label>  <div class="col-sm-6">
  <input type="text" class="form-control " formControlName="ADD_2"> </div>				
  </div>
  </div>
  <!-- /Input-->

  <!-- Input-->
  <div class="col-md-4 pad10"> 
  <div class="form-group">
  <label class="sub-title col-sm-6 control-label">Line 3</label>  <div class="col-sm-6">
  <input type="text" class="form-control " formControlName="ADD_3"> </div>				
  </div>
  </div>
  <!-- /Input-->

  <!-- Input-->
  <div class="col-md-4 pad10"> 
  <div class="form-group">
  <label class="sub-title col-sm-6 control-label">City</label>  <div class="col-sm-6">
    <select class="form-control ct1_select" formControlName="CITY_CD">
      <option *ngFor="let citylists of citylist" value="{{citylists?.value}}">{{citylists?.label}}</option>
    </select>
    </div>				
  </div>
  </div>
  <!-- /Input-->

  <!-- Input-->
  <div class="col-md-4 pad10"> 
  <div class="form-group">
  <label class="sub-title col-sm-6 control-label">State</label>  <div class="col-sm-6">
    <select class="form-control ct1_select" formControlName="STATE_CD">
      <option *ngFor="let statelists of statelist" value="{{statelists?.value}}">{{statelists?.label}}</option>
    </select>
  
</div>				
  </div>
  </div>
  <!-- /Input-->

  <!-- Input-->
  <div class="col-md-4 pad10"> 
  <div class="form-group">
  <label class="sub-title col-sm-6 control-label">	PIN</label>  <div class="col-sm-6">
  <input type="text" class="form-control " formControlName="PIN"> </div>				
  </div>
  </div>
  <!-- /Input-->



</div>
<!-- /md-12 --> 



<div class="row"> 
<h3 class="btn btn-ct1 btn-block"><b>Permanent Address</b></h3>
<br>
<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">Line 1</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="PERADD_1"> </div>				
</div>
</div>
<!-- /Input-->

<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">Line 2</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="PERADD_2"> </div>				
</div>
</div>
<!-- /Input-->

<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">Line 3</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="PERADD_3"> </div>				
</div>
</div>
<!-- /Input-->

<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">City</label>  <div class="col-sm-6">
  <select class="form-control ct1_select" formControlName="PERCTY_CD">
    <option *ngFor="let citylists of citylist" value="{{citylists?.value}}">{{citylists?.label}}</option>
  </select>
</div>				
</div>
</div>
<!-- /Input-->

<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">State</label>  <div class="col-sm-6">
  <select class="form-control ct1_select" formControlName="PERST_CD">
    <option *ngFor="let statelists of statelist" value="{{statelists?.value}}">{{statelists?.label}}</option>
  </select>

</div>				
</div>
</div>
<!-- /Input-->

<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">	PIN</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="PERPIN"> </div>				
</div>
</div>
<!-- /Input-->



</div>
<!-- /md-12 --> 	



<div class="row"> 
<h3 class="btn btn-ct1 btn-block"><b>Own Contact</b></h3>
<br>
<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">Contact No [1]</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="CNTCT_NO1"> </div>				
</div>
</div>
<!-- /Input-->

<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">	Contact No [2]</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="CNTCT_NO2"> </div>				
</div>

</div>
<!-- /Input-->


</div>
<!-- /md-12 --> 	


<div class="row"> 
<h3 class="btn btn-ct1 btn-block"><b>Referee Contact</b></h3>
<br>
<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">Name</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="Ref_Name"> </div>				
</div>
</div>
<!-- /Input-->

<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">	Contact No</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="Ref_Contact_No"> </div>				
</div>

</div>
<!-- /Input-->
<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">		Relationship</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="Ref_Remarks"> </div>				
</div>

</div>
<!-- /Input-->

</div>
<!-- /md-12 --> 	


<div class="row"> 
<h3 class="btn btn-ct1 btn-block"><b>Emergency Contact</b></h3>
<br>
<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">Name</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="EMERGENCY_CONTACT_NAME"> </div>				
</div>
</div>
<!-- /Input-->

<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">	Contact No</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="EMERGENCY_CONTACT_NO"> </div>				
</div>

</div>
<!-- /Input-->
<!-- Input-->
<div class="col-md-4 pad10"> 
<div class="form-group">
<label class="sub-title col-sm-6 control-label">		Relationship</label>  <div class="col-sm-6">
<input type="text" class="form-control " formControlName="EMERGENCY_CONTACT_RELATION"> </div>				
</div>			 
</div>
<!-- /Input-->

</div>
<!-- /md-12 --> 


<div class="row"> 
<div class="card-footer col-md-12">
  <button type="submit" class="btn btn-info float-right" (click)="saveContactInformation()">Save</button>
</div> 
</div>
</form>