<section class="content-header">
    <div class="container-fluid">
      
    </div><!-- /.container-fluid -->
  </section>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title ct11145">Salary List</h3>
    </div>
    <div class="card-body p-0">
      <p-table #dt [columns]="cols" [value]="usersList" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
        <div style="text-align: right">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ngStyle]="{'display': col.display}">
                {{col.header}}
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'display': col.display}">
                <input *ngSwitchCase="'E_CODE'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'EmpName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'DOJ'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <p-dropdown *ngSwitchCase="'Gender'" [options]="genders" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                <p-multiSelect *ngSwitchCase="'Designation'" [options]="degination" defaultLabel="All Designation" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
                
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" [ngStyle]="{'display': col.display}">
                <span *ngIf="col.header==='Action'"><a class="btn btn-info btn-sm" (click)="editSalaryDetailsById(rowData[col.field], rowData['Branch'])">Edit</a></span>
                <span *ngIf="col.header!='Action'">{{rowData[col.field]}}</span>
            </td>
        </tr>
    </ng-template>
</p-table>




                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            
    
    
  </div>
</div>
</div>