/* You can add global styles to this file, and also import other style files */
.cursorPointer{
    cursor: pointer;
}
.error-msg {
    color: #FF0000;
    font-size: 10px;
}

.has-error{
    border: 1px solid #FF0000;
}